


html{
	height: 100%;
	width:100%;
	margin: 0px;
padding: 0px;

}

body{
height: 100%;
min-width:100%;
margin: 0px;
padding: 0px;}

  @media (min-width: 979px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

	
}
h3{
	margin-top: 5px;
}
#top{
min-width: 100%;
	background-image: url('trial.jpg');
background-size: cover;
/*height:  100%;
min-height: 900px;*/

padding:0px;

margin:0 auto;
}

.navbar-defult{
background-color: transparent;;
}
.container-fluid{
	/*background-color: transparent;
	height: 60px;*/
}

#head{
	background-color: transparent;
	border: none;
	min-height: 64px;
}
// NAVBAR
.navbar-nav{
	margin-top: -1px !important;
}
.navbar-right{
position: relative;
    
    float: right;
    padding: 0;
}

.navbar{
	padding: 0px;
	height: 54px;
	}
.navtwo{
	border-radius: 0px;
	

}
.navtwo button{

	border: none;
	background-color: transparent;
	
	font-family: 'Lato';
	font-size: 11;
	letter-spacing:1.6;
	color: #777;
}

#dropdown{height: 100%;
}

.dropdown-menu{
  background-color: #fff ;
}
.dropdown li{
	
}
.ddtest{
  z-index: 100;
  padding: 0;
  border: 0;
}


.ddtest li{
  background-color:white;
border-top-color: black;
 height: 100%;
 margin:0;
 border: 0px;
 border-top:1;

}

#nav .ddtest li:not(.nohHover)hover{

  border-color:rgb(247, 247, 247);
  background-color:transparent;
  border: 0px;
 
}

.ddtest a{
  background-color: white;
  border-top-color: black;

 height: 100%;
 margin:0;
 border: 0;
}
.ddtest a:hover{

  border-top-color: rgb(247, 247, 247);
  background-color:rgb(247, 247, 247);
 
}

.navbar-nav .dropdown>.open>a: hover {

  border-top-color: rgb(247, 247, 247);
  background-color:rgb(247, 247, 247);}

  .navbar-default .navbar-nav>.open>a, 
  .navbar-default .navbar-nav>.open>a:focus,
   .navbar-default .navbar-nav>.open>a:hover {

  border-top-color: white;
  background-color:white;
}
 

#nav .container-fluid  .logo:hover{

  border-top-color: rgb(245, 245, 245);
  background-color:rgb(247, 247, 247);
 
}

#nav li{ 
  border: 2px;
  margin-top: 0px;
  border-style: solid;
  border-color: transparent;
  font-family: 'Lato';
  font-size: 11
  letter-spacing:1.6;

}
#nav li+li {  }

#nav li:not(.noHover):hover{ 
  
  border-top-color: red;
  background-color:white;

}
.divider{
  
   
    float: left;
    border-right: 1px solid #DADADA;
    margin: 12px 0;
    line-height: 30px;
    width: 1px;
    height: 25px;

     
        
        
}


#collapseButton1{
	
}
#head{
	 background-color:transparent;
	 border-color: transparent;
}

 @media (min-width: 979px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
}
li{
	margin-top: -1px !important;

}
/* OLD CODE THAT HAS BEEN REIMPLEMENTED */






