@media (max-width: 900px) {

    .navbar-header {

        float: none;


    }

    

    .navbar-toggle {

        display: block;

    }

    .navbar-collapse {

        border-top: 1px solid transparent;

        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }

    .navbar-collapse.collapse {



        visibility: collapse;
        opacity: 0;
        

    }

    .navbar-collapse.collapse ul{



      
        opacity: 0;
        

    }



    .navbar-nav {

        float: none;

       

    }

    #rightNav.navbar-nav>li {
      vertical-align: center;

        float: none;

    }

    #rightNav{

      width: 170px !important;

      min-width: 170px !important;

      height: 100%;

      overflow: visible;

    }

    #rightNav li{

      width: 170px !important;

      min-width: 170px;

      max-height: 25%;

    }

    


    .navbar-nav>li>a {

        padding-top: 10px;

        padding-bottom: 10px;

    }

    .navbar-text {

        float: none;

        margin: 15px 0;

    }

  

    .navbar-collapse.collapse.in { 

       opacity: .85;
        display: block!important;
        visibility: visible;


        
    }
     .navbar-collapse.collapse.in ul{ 

       opacity: 1;

        
    }

    .collapsing {

        overflow: hidden!important;

    }

}



 .mobile  .navbar-header {

        float: none;
        

    }

    

    .mobile .navbar-toggle {

        margin-right: 20px;
        margin-top: 10px;
        display: block;
        width: 10.2%;
        height: 66%;

    }

    .mobile .icon-bar{
      width: 100%;
      height: 4px;
      margin-top: 1px;
      margin-bottom: 1px;
    }


   .mobile  .navbar-collapse {

        opacity: 0;
        visibility: collapse;

        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }

   .mobile  .navbar-collapse.collapse {

        display: none!important;

    }

    .mobile .navbar-nav {

        float: none;

       

    }

   .mobile  #rightNav.navbar-nav>li {
      vertical-align: center;

        float: none;

    }

    .mobile #rightNav{

      width: 170px !important;

      min-width: 170px !important;

      overflow: visible;

    }

   .mobile  #rightNav li{

      width: 170px !important;

      min-width: 170px;

      max-height: 25%;

    }

    


    .mobile .navbar-nav>li>a {

        padding-top: 10px;

        padding-bottom: 10px;

    }

    .mobile .navbar-text {

        float: none;

        margin: 15px 0;

    }

  

    .mobile .navbar-collapse.collapse.in { 

        display: block!important;

    }

    .mobile .collapsing {

        overflow: hidden!important;

    }

.navbar-collapse{
  float: right;}



@viewport{

    zoom: 1.0;

    max-zoom:1.0;

    width: device-width;

    max-width: 100%;

}

@-ms-viewport{

 zoom: 1.0;

    max-zoom:1.0;

    width: device-width;

    max-width: 100%;

}

/*



@media screen and (max-width:900px)

{

  .navbar-toggle {

    display: block !important;

    float: right !important;}

    

    #myNavbar.navbar-collapse[aria-expanded="false"] > #rightNav{

  

  display: none !important;

}  

    #rightNav[aria-expanded="true"]{

      display: block !important;

      width:100% !important;

      min-width: 100px;

  

}

#rightNav{

  width:100%;

  min-width: 200px !important;

  

}

.right{

  float: right !important;

}

.navbar-header{

  width: 100%;

}

#nav-left{

  width: 100%;

}



    #myNavbar.navbar-nav>li {

        float: none;

    }

    #rightNav.navbar-nav>li>a {

        padding-top: 10px;

        padding-bottom: 10px;

    }





}





  @media (min-width: 979px) {

   {

    display: block;

    margin-top: 0; // remove the gap so it doesn't close

 }



  

}



*/
/*-----------------OverRides------------------------------------*/
.navbar-header{
  height: 100%;
  border-radius: 0;
  border:none;
}
.navbar.navbar-default{
  border-radius: 0;
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
}
button.navbar-toggle{
  margin:0px 5px 0px 0px;
}
/*-----------------------Main----------------------------------*/

.landing{

}

html{

  height: 100%;

  width:100%;

  max-width: 100%;

  margin: 0px;

padding: 0px;





}

body{

height: 100%;

min-width:100%;
width: 100%;

 max-width: 100%;

margin: 0px;

padding: 0px;

background-image: url('trial.jpg');



overflow-x: hidden;

}

body.mobile{
 
}





.left{
  float: left;
  max-width: 40%;
}

.right{
  float: right;
  max-width: 40%;

}









/*---------------NAV BAR SECTION (NB)------------------------*/



div.navbar.navbar-default{
  max-height: 50px;
}

.mobile div.navbar.navbar-default{
  max-height: 81px;
}




/*--------------Overrides (NB)--------------------------------*/




.navbar-collapse{

  padding: 0px;
  height: 100%;

}

.nav > li > a{

  padding:3px; 

}
/* height: 100% !important changed */

.navbar-collapse.collapse{

  height: 100% ;

  
  margin:auto;

  z-index: 999;

}



.navbar-nav.navbar-left{

  position: relative;

  flex-grow: 1;

}



.container-hold{

  height: 100%;

  overflow:hidden;



}



/*----------- MAIN (NB)-------------------------------------*/

#navFull{

  position:fixed;

  z-index: 50;

  top: 0;

  border-radius: 0;

  width: 100%;

  max-width: 100%;

 

}

#head{

  margin-top: 0px;

    height: 34px;

    width: 100%;

  background-color: black;

  margin: 0px;

  border-radius: 0;

  padding: 5px;

  border: none;

  color: #000 !important;

  font-family: 'Open Sans Condensed', sans-serif; font-size: 12px; font-weight: 700; ; text-align: center; text-transform: uppercase; 

    

}

 

#head ul.navbar-right{

  
  
  

}



#head li{

  margin-left: 2.5px;

  margin-right: 2.5px;

}





#head a{color: #eee !important;}

/*-------------Main Nav Bar ---------------------*/

#news{
  margin-left: 5px;
}

.center-VP{

 
  
 }
 .centeredV{

 }
 .center-VP a{
 
  height: 98%;
  line-height: 98% !important;
 }
 .floater{
     display: inline-block;
position: relative;
    height: 25%;
    width: 100%;
    margin-bottom: 0%;

 }





#header-try{

  cursor: pointer;

  

  background: linear-gradient(to bottom, #56dee4 0%, #36a9ae 100%);

}



.dropdown{

  cursor: pointer;

}



 #mainNav{

  

   

   z-index: 999;

 padding: 0px;

  background-color: rgb(248,248,248);

  opacity: .9;

  height:67px;

   border-radius:0;

   border: none;

   color: #000;

   font-family: 'Open Sans Condensed', sans-serif; font-size: 12px; font-weight: 700; text-align: center; 

   text-transform: uppercase; line-height: 67px; text-align: center;

   

   width: 100%;



 }



 #mainNav a{

   display: inline-block;

  vertical-align: middle;

  line-height: normal;

  width: 100%;

 }



/*-------------------LOGO SECTION-----------------------*/

#left-container{
  width:23%;
  min-width:205px; 
}

.navbar-brand{

   display: inline-block;

  vertical-align: middle;

  line-height: normal;
  padding: 5.3px 1.7px 1.7px 1.7px;

 }

 .mobile .navbar-brand{
  height: 98%;
  width: 37.8%;
 }

 #Brand{
  margin-left: 10px;

  max-width: 174.5px;
}

.mobile #Brand{
  max-width: 370px;
  width: 100%;
  margin-top: 15px;
}

  #mainNav img{

   display: inline-block;

  vertical-align: middle;

  line-height: normal;

  width: 100%;


 }



 #mainNav li{

   line-height: 67px;

   margin-right: 8px;

   margin-left: 8px;


 }





#myNavbar{

  

  position: relative;

  z-index: 99;

  padding: 10px;

  background-color: rgb(248,248,248)

  opacity: .85

  height: 100%;

  min-height: 60px;
  margin:auto;

  border: none;

  border-radius: 0px;

  height: 67px;

    color: rgba(0, 0, 0, 0.5) !important;

    width: 75%;
    overflow: hidden;



  

}

#myNavbar ul.navbar-left{

  width:275px;

  float: left;

}



#myNavbar ul.navbar-right{

  -max-width: calc(100% - 140px);

  

  min-width: 20%;

  float: right;

  overflow: hidden;

  padding: 1px;

  

}

#nav-left{

  padding-left: 5px;
  padding-bottom: 5%;

  float: left;
  
  display:inline-block;}
 
#navRight li{
  vertical-align: center;

}
.centerer{
     padding-top: 5%;
     padding-bottom:5%;
     width:370px;


    }


#navRight li a{
  clear:both;
}
.nav{





    display: block;

}

.content__middle { 

        background-color: #cfc; 

        overflow: auto; /* [2] */

    }

.navbar-right{

  margin-right: 0px ;

  position: relative;

  flex-grow: 1;

 

  min-width: 17%;



    padding: 0;

}

.navbar-right li{
  overflow-x: visible;
}

.navbar{

  padding: 0px;

  margin:0px;

  }



  .left{

    float:left;
    padding-left: 5px;

    max-width: 50%;

  }

  #nav-left.left{
    padding-left: 5px;
  }


  .right{

    float:right !important;

    max-width: 50%;

  }

.navtwo{

  border-radius: 0px;

}


#rightNavbar{
  margin-right: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #777;
  font-family: lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border:none !important;

}
#rightNavbar[aria-expanded="true"]{
  border-style: none;
  border-width: 0px;
 width:200px;
 min-height: 100px;
  background-color: rgba(248,248,248,0.8);
  
  overflow-x: hidden;
  
  margin-top: -10px;
  margin-right: -1px;
  margin-bottom: 0%;

  display: block;

}
.mobile #rightNavbar{
  margin-top: 10px;
  background-color: rgba(248,248,248,1);
  width: 400px;
  min-height: 350px !important;
  font-size: 38px;
  line-height: 40px;
}
.mobile #rightNavbar li{
  height: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}


 .in li{
  text-align: center;
  
  padding-top: 5px;
  display: block;
  float: left;
  clear: left;

  width: 100%;

}



 .in li:hover{
 opacity: 1;
}

#navFull a:hover{ -webkit-transform: scale(1.15); }

#navbar-collapse a:hover{ -webkit-transform: scale(1.15);
margin-left: 25px;}

 .center-VP {

height: 27px;
margin-right: 5px;
margin-left: 5px;

}




.navtwo button{



  border: none;

  background-color: transparent;

  height: 100%;

  font-family: 'Lato';

  font-size: 11;

  letter-spacing:1.6;

  color: #777;

}



#dropdown{height: 100%;}



.dropdown-menu{

  background-color: #fff ;

}



.ddtest{

  

  padding: 0;

  border: 0;

}



.ddtest li{

  background-color:white;

border-top-color: black;

 height: 100%;

 margin:0;

 border: 0px;

 border-top:1;



}


.ddtest a{

  background-color: white;

  border-top-color: black;



 height: 100%;

 margin:0;

 border: 0;

}


/*------- Old hover effects

#myNavbar li:not(.noHover):hover{ 

  

  border-top-color: white;

  background-color:white;



}

#myNavbar li:not(.noHover):hover{ 

  

  border-top-color: red;

  background-color:white;



}

.myNavbar a:hover{



  border-top-color: rgb(247, 247, 247);

  background-color:rgb(247, 247, 247);

 

}

.navbar-nav .dropdown>.open>a: hover {



  border-top-color: rgb(247, 247, 247);

  background-color:rgb(247, 247, 247);}



  .navbar-default .navbar-nav>.open>a, 

  .navbar-default .navbar-nav>.open>a:focus,

   .navbar-default .navbar-nav>.open>a:hover {



  border-top-color: white;

  background-color:white;

}

 



#nav .container-fluid  .logo:hover{



  border-top-color: rgb(245, 245, 245);

  background-color:rgb(247, 247, 247);

 

}*/

nav ul{

  height: 100%;

  margin:auto;

}

li{

  margin-top: -1px;

  height: 100%;

}



  .btn-warning{

  background-color: #36A9AE;

  border: 1px;

  display:block;

    margin: 0 auto;

  

}

.navbar li{ 



  border-color: transparent;

  font-family: 'Lato';

  font-size: 11

  letter-spacing:1.6;



}

#nav li+li {  }





.divider{

  

   

    float: left;

    border-right: 1px solid #DADADA;

   

   

    width: 1px;

    height: 25px;



     

        

        

}

.flyer{

  padding:3%;

   align-items: center;

   text-align: center;



}



.button {



    

}





.row{

  

}



.cta-section{

  

}
/*-----------FOOTER-----------------------------------------*/

#footer{
  background-color: black;
  
  overflow: hidden;
}

.mobile #footer p{
  font-size: 25px;
}



#footerHead{
  padding-left: 8%;
 overflow: hidden;

}



#footerHead img{
  margin:5px;
  float: left
}

#footerHead h2{

float: left;
margin-left:15px;
margin-top: 15px;
}

#footer .left h3{
  color: #fff;S
}
.mobile #footerHead {
  display: none;
}  

.mobile #footer .left{
  max-width: 100%;
  width: 100%;
  display: inline;
  clear: both;
  text-align: center;
}
#footer.mobile .left div{
  padding: 0px;
}


#footer .right h3{
  
   color: #337ab7;
   
}
#footer .right p{
  
   line-height: 25px;
   
}

.mobile #footer .right{
  display: none;
}
/*----------Specialized Elements --------------------------*/



.imageFrame{

  width: 100%;

  overflow: hidden;

}

.imageFrame img{

  width: 100%;

  

}



/*         Image and flipping section    */



/*

#nav li:not(.noHover):hover{ 

  

  border-top-color:red;

  background-color:white;



}*/

/*------------- EFFECTS ------------------------------------------- */

#head.collapsed{

  max-height: 2px;

  overflow: hidden;

  margin-top: -48px;

  transition: margin 700ms;



}



#head.tall{

  

  margin-top: 0px;

  transition: margin 700ms;



}

#head.collapsed.container-hold{

  

  height: 2px;



}

.center-VP.collapsed{

  padding:0;

  height: 0;

}





#img1border{



  display:inline-block;

  margin: 5px;

  padding: 0px;

  border: 5px;

  border-style: ridge;

  background-color: black;



}



.rotator {

  width: 100%;

  height: 62.5%;

  margin: 0px;

  



  

}

.navbar-nav>li>a.active{

  color:blue;

 }

 .navbar-nav>li>a.active:hover{

  color:blue;

 }

/*

.collapsed{

    -moz-transition: all 0.5s ease-out;  

    -o-transition: all 0.5s ease-out;  

    -webkit-transition: all 0.5s ease-out;  

    -ms-transition: all 0.5s ease-out;  /

    transition: all 0.5s ease-out;  

}

.collapsed{

    -moz-transition: all 0.5s ease-in;  

    -o-transition: all 0.5s ease-in;  

    -webkit-transition: all 0.5s ease-in;  

    -ms-transition: all 0.5s ease-in;  

    transition: all 0.5s ease-in;  

}



.minimize {-webkit-transition: all 10s linear;

  -moz-transition: all 1s linear;

  -ms-transition: all 1s linear;

  -o-transition: all 1s linear;

  transition: all 1s linear;

  

}*/

#rightNavbar { 

    -webkit-transition: height 0.3s ease-in;

  -moz-transition: height 0.3s ease-in;

  -ms-transition: height 0.3s ease-in;

  -o-transition: height 0.3s ease-in;

  
  transition:  opacity .2s ease-in;
transition-delay: 0.2s;

}


#rightNavbar ul{ 

    -webkit-transition: opacity .4s ease-in;

  -moz-transition: opacity .4s ease-in;

  -ms-transition: opacity .4s ease-in;

  -o-transition: opacity .4s ease-in;

  
  transition:  opacity .1s ease-in;
transition-delay: 0.25s;

}

.translateAnimationClass { 

    -webkit-transform: rotateX(90deg) rotateY(0deg);

  -moz-transform: rotateX(90deg) rotateY(0deg);

  -ms-transform: rotateX(90deg) rotateY(0deg);

  -o-transform: rotateX(90deg) rotateY(0deg);

  transform: rotateX(90deg) rotateY(0deg);



}



.animation {

  -webkit-animation: rotator 1s linear;

      -webkit-transform: rotator 1s linear;

  -moz-transform: rotator 1s linear;

  -ms-transform: rotator 1s linear;

  -o-transform: rotator 1s linear;

  transform: rotator 1s linear;

  animation-iteration-count: 1

}



@-webkit-keyframes rotator {

  0%   { -webkit-transform: rotateX(0deg)    rotateY(0deg);    }

  100% { -webkit-transform: rotateX(180deg) rotateY(0deg);  }

}

/*

@-moz-keyframes rotator {

  0%   { -moz-transform: rotateX(0deg)    rotateY(0deg);    }

  100% { -moz-transform: rotateX(1080deg) rotateY(360deg);  }

}

@-ms-keyframes rotator {

  0%   { -ms-transform: rotateX(0deg)    rotateY(0deg);    }

  100% { -ms-transform: rotateX(1080deg) rotateY(360deg);  }

}

@-o-keyframes rotator {

  0%   { -o-transform: rotateX(0deg)    rotateY(0deg);    }

  100% { -o-transform: rotateX(1080deg) rotateY(360deg);  }

}

@keyframes rotator {

  0%   { transform: rotateX(0deg)    rotateY(0deg);    }

  100% { transform: rotateX(1080deg) rotateY(360deg);  }}*/

