







.clear-background{
background-image: none;
}
#head{
  }
  html{
    background-color: rgb(100,100,130,1);

  }
body { 

background-size: cover;
  height: 100%;
   
  color: #fff;
  font-family: GlyddonBold,Georgia,Times;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
 

 
}
#top{
  min-width:1100px;
  display:inline-block;
  margin-bottom:20px;
  width: 100%;
  height:80px !important;
min-height: 80px;
  overflow:hidden;
  position: relative;
 
  background-size: cover;
  margin:-5px;
}
#navFull{

}
#nav{
  margin-top: -5px;
}
#navbar-collapse{
 background-color: none;
 border:none;
}
#full-container{

background-size: cover;
  background-color: rgba(200,200,200,.1);
  
  padding-top: 98px;

}
#bannor-stripe{
   height: 398px;
   background-image: url("2.jpg");
   color: white;
   padding: 1px 0px 1px 0px;
   vertical-align: baseline;
}

h1 {
  color: black;
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}
h4 {
  margin-top: 20%;
  text-align: center;
  margin-left: 5%;
  color: rgba(50,50,50);
  vertical-align: center;
  font-family: kepler-std,serif,lulo-clean-w01-one-bold,sans-serif;
  
  font-size: 60px;
  font-weight: 400;
  color: white;
  line-height: 60px;
  
}
.mobile h4{
  margin-top: 5%;
  font-size: 120px;
  line-height: 180px;
}
.stripe{
  border-bottom: 2px solid rgb(53, 136, 204);
}
.stripe h1{color: rgb(53,136,204);
font-size: 40px;
font-weight: bold;}

.mobile .stripe h1{
  font-size: 60px;

}
.stripe li{
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  margin: 5px;
}
.mobile .stripe li{
  font-size: 38px;
  line-height: 38px;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 6px;
}
#stripe1{
  width: 100%;

  background:linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,1),white),url("paypage2.png") no-repeat;
   background-size: 100%,50%;
}

.mobile #stripe1{
  background:linear-gradient(90deg,rgba(255,255,255,0) ,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) ),url("paypage2.png") ; /* W3C */ 
   
background-size: 100%,55%;
}



#stripe2{
  width: 100%;

  background:linear-gradient(90deg,rgba(255,255,255,1),rgba(255,255,255,.75),rgba(255,255,255,0)),url("thtml2v.png") right no-repeat; /* W3C */
  background-size: 100%,50%;
  min-height: 290px;
}

 .mobile #stripe2{
background:linear-gradient(rgba(255,255,255,1)10% ,rgba(255,255,255,0) ,rgba(255,255,255,0) ,rgba(255,255,255,1) 70% ),url("thtml2v.png") no-repeat; /* W3C */
 background-size: 100%,100%; 
}
.mobile #stripe2 .a{
margin-top:480px; 
}

#stripe3{
  width: 100%;

  background:linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,1),white),url("tutor-bannor.jpg") no-repeat; /* W3C */
  background-size: 100%,50%;
}
.mobile #stripe3{


  background:linear-gradient(90deg,rgba(255,255,255,0) ,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) ),url("tutor-bannor.jpg") ; /* W3C */
  background-size: 100%,65%;
}
#stripeContact{
  background-color:  white;
}
#stripeContact ul.a{
  padding: 0px;

}
#stripeContact li{
  color: black;
  list-style-type: none;
}
#stripeContact button{
  color: white;
  background-color: red;
  box-shadow: 2px 2px 10px 5px rgba(100, 100, 100, .15);
  border-radius: 5px;
}

.mobile #stripeContact button{
  height: 80px;
  width: 200px;
  font-size: 38px;
  font-weight: bold;


  
}
.container {


  min-height: 280px;
  display: table;
 
  width: 100%;
  margin:3px,0px,3px,0px;
  padding: 1px;
  border-collapse: separate;
    border-spacing: 10px;

}
section{margin:10px,0px,10px,0px;

}

.container div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;
  font-size: 14px;
}

.mobile .container div{
  width: 80%;
}

.mobile  .container div.left-half{
  width: 96%;
}

.spacing{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;

}
.left-half {
   float: left;
  
  color: black;
  font-size: 14px;

}
.left-half h2{
  color: black;
  font-weight: bold;

}

.mobile .left-half{
  margin-left: 2%;
}
.right-half {
  float: right;
  border-radius: 0px 10px 10px 0px;
  color: black;
  font-size: 14px;

 
}

.mobile .right-half{
  margin-right: 10%;

}
.both{
  background-color: #eee;
  display:inline-block;
  border-radius: 10px;
      box-shadow: 0 1px 2px rgba(0,0,0,.5);
  min-width: 700;
  width: 200%;
  margin: 0;
}
/**
nav {
  background-color: #333;
  margin: 0;
  font-size: 15px;
  text-shadow: none;
  overflow: hidden;
   }**/

ul.nav.navbar-nav {

  margin: 0;
  padding: 0 !important;
  }



nav ul li {/*
  display: inline-block;
  list-style-type: none;*/
}
nav > ul > li > a{

  color: #aaa;

    
    display: block;

    line-height: 2em;

    padding: 0.5em 0.5em;

    text-decoration: none;

}
/**

.navbar{
  margin-bottom: 0px;
}
.container ul.a{
  list-style-type: circle;
  list-style-position:inside;
  display: inline-block;
  text-align: left;
}
.container li span{
  margin-left:0em;
 

}


**/