







.clear-background{
background-image: none;
}
#head{
  }
  html{
    background-color: rgb(100,100,130,1);

  }
body { 

background-size: cover;
  height: 100%;
   
  color: #fff;
  font-family: GlyddonBold,Georgia,Times;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
 

 
}
#top{
  min-width:1100px;
  display:inline-block;
  margin-bottom:20px;
  width: 100%;
  height:80px !important;
min-height: 80px;
  overflow:hidden;
  position: relative;
 
  background-size: cover;
  margin:-5px;
}
#navFull{

}
#nav{
  margin-top: -5px;
}
#navbar-collapse{
 background-color: none;
 border:none;
}
#full-container{

background-size: cover;
  background-color: rgba(200,200,200,.1);
  
  padding-top: 98px;

}
.mobile #full-container{
  padding-top: 78px;
}
#bannor-stripe{
   height: 398px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("premium.jpg");
   background-size: cover;
   color: white;
   padding: 1px 0px 1px 0px;
   vertical-align: baseline;
}
.mobile #bannor-stripe{
  margin-top: -4px;
}
.mobile #bannor-stripe{
 background-size:cover;


}

h1{

  font-weight: 100;

  font-size: 40px;



}

.mobile h1{
  font-size: 30px;
}
h4 {
  margin-top: 10%;
  margin-bottom: 20%;
  text-align: center;
  margin-left: 5%;
  color: rgba(50,50,50);
  vertical-align: center;
  font-family: kepler-std,Georgia,lulo-clean-w01-one-bold,sans-serif;
  
  font-size: 100px;
  font-weight: 400;
  color: white;
  line-height: 100px;
  
}
.mobile h4{
  margin-top: 4%;
  font-size: 60px;
  line-height: 60px;
}

#second{

  margin-top: -5px;
  

  padding: 20px;

  padding-top: 100px;

  min-height: 640px;

  background-color: white;

width: 100%;

color: rgb(40,40,40);

}
#second .section{
  margin-left: 10%;
  margin-right: 5%;
}

.mobile #second{
margin-left: 0%;
  margin-right: 0%;
  margin-top: -170px;
   
  padding-left: 10%;
  padding-right: 10%;
}
.mobile .flyer{
  margin: auto;
  padding: auto;
}

#second h2{


  font-family: "league spartan"

  font-size: 45px;

  font-family: "league spartan";


  font-size: 75px;

  margin-top:-40px;
  margin-bottom: 15px;

  text-align: center;

  margin-left: 0px;

  color:rgb(86, 135, 212);

}

.mobile #second h2{



  font-size: 35px;}


#second p{

  display: inline-block;

  width: 100%;

  font-family: "Libre Baskerville";

  font-size: 20px;

    line-height: 35px;

  text-align: left;

  text-indent: 20px;

    margin-bottom: 35px;


}

#second .button {
  
   -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

        display: inline-block;
        background-color: white;
        border-radius: 8px;
        border: 4px double rgb(86, 135, 212);
        color:rgb(86, 135, 212);
        text-align: center;
        font-size: 20px;
        padding: 10px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      #second .button:hover {
        background-color: rgb(86, 135, 212);
        color:white;
      }

#second .imageFrame{

  max-height: 30%;

}
#secondLeft{
  font-family:"lato";
}
#secondRight{
  font-family: "Montserrat";
}


.info-left a{
  margin-left: 23%;
  

}

.mobile .row{
   display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
}

.mobile .col-sm-4{
  -webkit-order: 2;
  overflow: 2;
   -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;

}
.mobile .col-sm-6{
  -webkit-order: 1;
  overflow: 1;

}

#customSoftwareImg{
  height: max-content;
  width: max-content;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa; 
}

.imgBorder{
  height: max-content;
  width: max-content;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa; 
}

.mobile .imgBorder{
  height: auto !important;
  width: 100%;
 
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa; 
}

.mobile img{
  height: auto !important;
  width: 100%;
}


#secondLeft.info-left{

  text-align: left;
}

.stripe{
  border-bottom: 2px solid rgb(74,207,226);
}
/* 
(23,182,205
(52,101,152)
(11,88,137)
(130,211,224)
*/
.stripe h1{color: rgb(17,91,140) ;
font-size: 40px;
font-weight: bold;}

.mobile .stripe h1{
  font-size: 60px;

}
.stripe li{
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  margin: 5px;
}
.mobile .stripe li{
  font-size: 38px;
  line-height: 38px;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 6px;
}
#stripe1{
  width: 100%;

  background:linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,1),white),url("paypage2.png") no-repeat;
   background-size: 100%,50%;
}

.mobile #stripe1{
  background:linear-gradient(90deg,rgba(255,255,255,0) ,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) ),url("paypage2.png") ; /* W3C */ 
   
background-size: 100%,55%;
}



#stripe2{
  width: 100%;

  background:linear-gradient(90deg,rgba(255,255,255,1),rgba(255,255,255,.75),rgba(255,255,255,0)),url("thtml2v.png"),url("thtml2v.PNG") right no-repeat; /* W3C */
  background-size: 100%,50%;
  min-height: 320px;
}

 .mobile #stripe2{
background:linear-gradient(rgba(255,255,255,1)10% ,rgba(255,255,255,0) ,rgba(255,255,255,0) ,rgba(255,255,255,1) 70% ),url("thtml2v.png"),url("thtml2v.PNG") no-repeat; /* W3C */
 background-size: 100%,100%; 
}
.mobile #stripe2 .a{
margin-top:480px; 
}

#stripe3{
  width: 100%;

  background:linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,1),white),url("tutor-bannor.jpg") no-repeat; /* W3C */
  background-size: 100%,50%;
}
.mobile #stripe3{


  background:linear-gradient(90deg,rgba(255,255,255,0) ,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) ),url("tutor-bannor.jpg") ; /* W3C */
  background-size: 100%,65%;
}
#stripeContact{
  background-color:  white;
}
#stripeContact ul.a{
  padding: 0px;

}
#stripeContact li{
  color: black;
  list-style-type: none;
}
#stripeContact button{
  color: white;
  background-color: red;
  height: 36px;
  width: 111px;
  box-shadow: 2px 2px 10px  rgba(100, 100, 100, .15), 2px 2px 10px 2px rgba(50, 50, 50, .15);
    border-radius: 5px;
}

.mobile #stripeContact button{
  min-height: 100px;
  min-width: 240px;
  font-size: 38px;

  font-weight: bold;


  
}
.container {


  min-height: 360px;
  display: table;
 
  width: 100%;
  margin:3px,0px,3px,0px;
  padding: 1px;
  border-collapse: separate;
    border-spacing: 10px;

}
section{margin:10px,0px,10px,0px;

}

.container div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;
  font-size: 14px;
}

.mobile .container div{
  width: 80%;
}

.mobile  .container div.left-half{
  width: 96%;
}

.spacing{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;

}
.left-half {
   float: left;
  
  color: black;
  font-size: 14px;

}
.left-half h2{
  color: black;
  font-weight: bold;

}

.mobile .left-half{
  margin-left: 2%;
}
.right-half {
  float: right;
  border-radius: 0px 10px 10px 0px;
  color: black;
  font-size: 14px;

 
}

.mobile .right-half{
  margin-right: 10%;

}
.both{
  background-color: #eee;
  display:inline-block;
  border-radius: 10px;
      box-shadow: 0 1px 2px rgba(0,0,0,.5);
  min-width: 700;
  width: 200%;
  margin: 0;
}
/**
nav {
  background-color: #333;
  margin: 0;
  font-size: 15px;
  text-shadow: none;
  overflow: hidden;
   }**/

ul.nav.navbar-nav {

  margin: 0;
  padding: 0 !important;
  }



nav ul li {/*
  display: inline-block;
  list-style-type: none;*/
}
nav > ul > li > a{

  color: #aaa;

    
    display: block;

    line-height: 2em;

    padding: 0.5em 0.5em;

    text-decoration: none;

}
/**

.navbar{
  margin-bottom: 0px;
}
.container ul.a{
  list-style-type: circle;
  list-style-position:inside;
  display: inline-block;
  text-align: left;
}
.container li span{
  margin-left:0em;
 

}


**/