.nav li {
  

  display: inline;
}


body{
	
	
}

.full-container{
display:inline block;
text-align:center;
margin:2%;
  border: none;
  width:100%;
min-width:1250px;
 
  
}
.full-container div
{
	overflow:auto;
	
}

#top-container{
	display:block;
	margin-bottom:20px;
	
	height:654px;
	min-width:1200px;
	overflow:hidden;
	position: relative;
}


.inputBox{
	border:1px solid;
	padding: 5px;
	overflow:hidden;
}


p{
	 
}
.input{}
.inputLine{
	
	margin-top:5px;
	margin-bottom:5px;
	 white-space: nowrap !important;
	

}
#error-msg{
	width:auto;
	visibility:hidden;
	 background-color: #ffcccc;
  font-weight: bold;
  padding: 5px;
  border: 1px dashed #000;
}
#notify{
	visibility:hidden;
}
.button{

	pborder: 2px solid #000000;

	

	

	

	border-radius: 5px;

	background-color: #cc0323;

	height: 30px;

	width: 150px;

	
}

