


body{
	
	
}
.top{
	min-width:1100px;
	display:inline-block;
	margin-bottom:20px;
	width: 95%;
	height:auto;

	overflow:hidden;
	position: relative;
}
.full-container{
display:inline block;
text-align:center;

  border: none;
  width:100%;

 
  
}
.full-container div
{
	overflow:auto;
	
}
#controls, 
#HTML{
	
    padding:30px;
    margin:40px auto;
    margin-left: 20px; 
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
   
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    box-shadow: rgba(0,0,0,0.8) 0 15px 10px -10px, rgba(0,0,0,0.8) 0 2px 6px, rgba(0,0,0,0.5) 0 0 0 1px inset !important;

}
#instructions,
#HTML h2{
	 background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
#top-container{
	display:inline-block;
	margin-bottom:20px;
	width: 95%;
	height:auto;
	min-height: 800px;

	overflow:hidden;
	position: relative;
}

#bottom-container{
	width:100%;

text-align:center;

}

#inputContainer{
	
	
}
.inputHeader{
font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
}
.inputBox{
	padding: 15px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 0px;
	overflow:hidden;
    text-align: center;
	
}
label{
    width: 100%
  
    
}

#controls{
	/*
	margin-left: 20px;
	text-align:left;
	
	position: absolute;
    left:0;
    top: 0;
height:100%;*/

/*width:450px;
margin:40px auto; */
    padding:30px;
    
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);

	float:left;
}

.outer {
	width: 100%;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
   box-shadow: rgba(0,0,0,0.8) 0 15px 10px -10px inset, rgba(0,0,0,0.8) 0 2px 6px inset, rgba(0,0,0,0.5) 0 0 0 1px;
}
#HTML{
	
	margin-right:10px;
	text-align: center;
	

    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
   
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    box-shadow: rgba(0,0,0,0.8) 0 15px 10px -10px, rgba(0,0,0,0.8) 0 2px 6px, rgb

}
#HTML button{

margin: auto;
float: none;

}
#preview{
    background: white;
	visibility: hidden;
}
p{
	 
}

}
.input{
	display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;*/
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);}

    .inputHalf{
    	
    	
    }
    .inputWrapper{
    	width: 100%;
    	display: inline-block;
        text-align: center;
    	font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    
    }
    .adress{
        
        display: inline-block;
    }
    .time{
         display: inline-block;
         margin-right: 5px;

    }
    .inline{
        display: inline-block;
    }


.inputLine{
	
	margin-top:5px;
	margin-bottom:5px;
	 white-space: nowrap !important;
	

}
#error-msg{
	width:auto;
	visibility:hidden;
	 background-color: #ffcccc;
  font-weight: bold;
  padding: 5px;
  border: 1px dashed #000;
}
#notify{
	visibility:hidden;
}
.button{

	    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    border: 0px;
float: none;
    height: 30px;
    width: 130px;
    line-height: 15px;
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 4px;
    font-size: 14px;
    margin: auto;
    
	background-color: #ffcd38;
    background-image: -webkit-linear-gradient(top, #ffcd38 0%, #d19f0a 91%);
    background-image: linear-gradient(-180deg, #ffcd38 0%, #d19f0a 91%);
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;



	
}
.buttonHolder{
    width: 100%;
        display: inline-block;
        text-align: center;
      
    
  
}
/*

nav {
	text-align: center;
  background-color: #fff;
  margin: 0;
  font-size: 15px;
  text-shadow: none;
  overflow: hidden;
   }

/* Make the list of links take up the whole width of the nav */

nav ul {

  margin: 0;
  padding: 0;
  }



nav ul li {
    /*
  display: inline-block;
  list-style-type: none;*/
}
nav > ul > li > a{

 

    
    display: block;

    line-height: 2em;

    padding: 0.5em 0.5em;

    text-decoration: none;

}

textarea{
    margin-top: 7px;
}